@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/inter/light.woff2") format("woff2");
  font-family: "Inter";
}

:root {
  --color-primary: #00ffa3;
  --color-secondary: #bf36ff;
  --color-accent: #abff36;
  --color-bg: #363636;
  --color-contrast: #f7f7f7;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg);
  height: 100vh;
  color: var(--color-contrast);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0;
  font-weight: 200;
}

img {
  width: 250px;
  height: auto;
  margin-bottom: 2rem;
}
